/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */

/* html {
  font-family: 'Noto Sans JP', sans-serif;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3f3f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* Chrome, safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: gray;
  border-radius: 4px;
}

*::-webkit-scrollbar{
  scroll-behavior: smooth;
  scrollbar-width: none;
}
